@import '@beeirl/ui/styles.css';

.custom-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 640px) {
  .custom-container {
    max-width: 48rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 56rem;
  }
}

@media (min-width: 1024px) {
  .custom-container {
    max-width: 64rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
